.navbar-brand{
    padding: 5px 10px 0px 10px;
    text-align: left;
    font: normal normal normal 30px/50px Palatino;
    letter-spacing: 0px;
    opacity: 1
}

a{
    color: #006238 !important;  
}
hr{
    color: #006238 !important; 
    top: 0px;
    line-height: normal;
    
}